.jumbotron {
    background-color: gold;
    color: black;
    margin-top:50px;
    
}

.container{
    margin:15px auto;
}
a,
a:hover {
    text-decoration: none;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 20px;
}
.text-card{
    
    text-align: center;
}
.btn-reserva {
    width: 100%;
}

.footer-address-icon{
    padding-right: 5px;
    color:gold;
}

.reserva-icon, .oi{
    padding-right:5px;
    font-size:70%;
}
.footer-container{
    padding-top:20px;    
}

.tab-content{
    padding-top:10px;
}

img.first-slide, img.second-slide, img.third-slide{
    opacity:0.5;
} 
.carousel-item, carousel-item.active{
  background-color: black;  
}