$gold: #FFD700;
$black: #000000;
@mixin margenes($top){
    margin-top:$top;
}
@mixin paddings($pt,$pb,$pl,$pr){
    padding-top:$pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl;
    
}

.jumbotron {
    background-color: $gold;
    color: $black;
    @include margenes(20px);
    
}

.container{
    margin:15px auto;
}
a,
a:hover {
    text-decoration: none;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(20px);
}
.text-card{
    
    text-align: center;
}
.btn-reserva {
    width: 100%;
}

.footer-address-icon{
    @include paddings(0px,5px,0px,0px);
    color:$gold;
}

.reserva-icon, .oi{
    padding-right:5px;
    font-size:70%;
}
.footer-container{
    @include paddings(20px,0px,0px,0px);    
}

.tab-content{
   @include paddings(10px,0px,0px,0px);
}

img.first-slide, img.second-slide, img.third-slide{
    opacity:0.5;
} 
.carousel-item, carousel-item.active{
  background-color: $black;  
}