.jumbotron {
  background-color: #FFD700;
  color: #000000;
  margin-top: 20px; }

.container {
  margin: 15px auto; }

a,
a:hover {
  text-decoration: none; }

.card-hotel {
  flex: 1 200px;
  margin-top: 20px; }

.text-card {
  text-align: center; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  color: #FFD700; }

.reserva-icon, .oi {
  padding-right: 5px;
  font-size: 70%; }

.footer-container {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

img.first-slide, img.second-slide, img.third-slide {
  opacity: 0.5; }

.carousel-item, carousel-item.active {
  background-color: #000000; }
